@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Noto Sans SC', sans-serif;
  @apply bg-zinc-100;
}

.inter{
    font-family: 'Inter', sans-serif;
}

.word{
  word-break: keep-all;
}
